@import "normalize";
@import "mixins-vars";

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: .95em;
    line-height: 1.4;
}

::-moz-selection, ::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

body {
	background: white;
	font-family: Tahoma,Verdana,sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Lato",Segoe,Calibiri,sans-serif;
	font-weight: 700;
	padding: 0;
	margin: 0;
}

h1 {
	font-size: 2.1em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.4em;
}

a {
	color: $blue;
	text-decoration: none;
	
	&:hover {
		text-decoration: underline;
	}
}

ul {
	list-style: disc;
	
	ul {
		list-style: circle;
		
		ul {
			list-style: square;
		}
	}
}

ul, ol {
	
	ul, ol {
		margin-top: 0;
	}
}

.left-float-img {
	float: left;
	margin-right: 1em;
	margin-bottom: 1em;
}

.menu {
	@extend .clearfix;
	list-style: none;
	padding: 0;
	margin: 0;
	
	li {
		@extend %inline-block;
		float: left;
		margin: 0;
		padding: 0;
	}
}

form {
	
	.field-type-datetime {
	
		fieldset {
			
			legend {
				font-weight: bold;
			}
			
			label {
				display: none;
			}
		}
		
		.date-padding {
			padding: 0;
		}
	}
	
	& {
	
		.webform-component-fieldset {
			margin: 1em 0;
			padding: 0 1em;
			border: 1px solid mix($ltgray, $gray);
			@include border-radius(8px);
			
			legend {
				padding: .25em .5em;
				font-family: "Lato",Segoe,Calibiri,sans-serif;
				font-weight: bold;
				font-size: 1.25em;
			}
			
			&.collapsible {
				
				.fieldset-legend {
					padding-left: 18px;
					
					a {
						color: inherit;
						text-decoration: none !important;
					}
				}
				
				&.collapsed {
					height: 1.1em;
					margin-bottom: 2em;
				}
			}
		}
	
		.webform-component, .form-item {
		
			label {
				padding-bottom: .25em;
				font-family: "Lato",Segoe,Calibiri,sans-serif;
				font-weight: bold;
				font-size: 1.1em;
				
				&.option {
					padding-bottom: 0;
					padding-left: .5em;
					font-weight: normal;
					font-family: Tahoma,Verdana,sans-serif;
					font-size: 1em;
				}
			}
		
			input[type=text],
			input[type=email],
			input[type=tel],
			input[type=number],
			input[type=password],
			input[type=date],
			select,
			textarea {
				padding: .25em .5em;
				border: 2px solid mix($ltgray, $gray);
				@include border-radius(6px);
				@include transition(border-color .3s);
				
				&:focus {
					border-color: mix($blue, $ltgray);
				}
				
				&, &:active, &:focus {
					outline: 0;
					ouline: none;
					font-family: Tahoma,Verdana,sans-serif;
					color: inherit !important;
					background: white;
				}
			}
			
			input {
			
				&.error {
					border-color: #ce4646;
					
					+ label.option {
						color: #ce4646;
					}
				}
			}
			
			.resizable-textarea {
			
				textarea {
					@include border-radius-bottom-left(0);
					@include border-radius-bottom-right(0);
					border-bottom: none;
					-moz-opacity: 1 !important;
					-webkit-opacity: 1 !important;
					opacity: 1 !important;
				}
				
				.grippie {
					border: 1px solid mix($ltgray, $gray);
					background-color: black(.075);
					border-left-width: 2px;
					border-right-width: 2px;
				}
			}
			
			.description {
				margin-top: .5em;
			}
			
			.form-required {
				color: #ce4646;
			}
		}
		
		button, input[type=submit], input[type=button], input[type=reset] {
		
			&:not(.connector-button) {
				@extend %inline-block;
				padding: .75em 1.5em;
				@include background-vertical-gradient(#363636, 0%, #595959, 100%);
				background-repeat: repeat-x;
				@include transition(background-position .3s);
				@include box-shadow(0 1px 3px black(.5));
				border: none;
				border-bottom: 1px solid black(.25);
				@include border-radius(4px);
				font-weight: normal;
				font-size: 1em;
				font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
				color: white;
				position: relative;
				
				&:hover, &:active, &:focus {
					outline: 0;
					outline: none;
				}
				
				&:hover {
					background-position: center 1em;
				}
				
				&:active {
					top: 1px;
				}
				
				+ button, + input[type=submit], + input[type=button], + input[type=reset] {
					
					&:not(.connector-button) {
						margin-left: .5em;
					}
				}
			}
		}
	}
}

header {
	background: $ltgray;
	padding: 10px 0;
	
	> .region {
		width: 960px;
		margin: 0 auto;
		text-align: center;
		
		p, ul, ol {
			margin: 0;
		}
	}
}

#menu_wrap {
	background: $gray;
	width: 100%;
	@include box-shadow(0 0 10px black(.7));
	border: 1px solid rgb(128,128,128);
	border-left: 0;
	border-right: 0;
	
	> .region {
		width: 960px;
		margin: 0 auto;
		background: $gray;
		border: 1px solid rgb(96,96,96);
		border-left: none;
		border-right: none;
		height: 45px;
		
		> .block-block {
			line-height: 45px;
			color: $ltgray;
			font-family: "Lato",Segoe,Calibiri,sans-serif;
			font-size: 1.05em;
			
			a {
				color: mix($ltgray, $blue);
			}
			
			p, ul, ol {
				margin: 0;
			}
		}
		
		> .block-menu-block {
		
			.menu-block-wrapper > .menu {
				display: block;
				height: 45px;
				text-align: center;

				li {

					> .menu {
						display: none;
					}

					&:hover {

						> .menu {
							visibility: visible;
							opacity: 1;
							transition: 0 0 visibility, .2s opacity;
						}
					}
				}
				
				> li {
					display: inline-block;
					float: none;
					position: relative;
					width: 130px;
					height: 43px;
					margin: 0 10px;

					&, > .menu {
						border: 1px solid #333333;
					}
					
					a {
						display: block;
						margin: 0;
						padding: 0 10px;
						border: 1px solid #808080;
						@include background-vertical-gradient(#808080, 0%, #4d4d4d, 100%);
						font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
						font-size: 1em;
						color: white;
						text-align: center;
						background-size: auto 100% !important;
						background-repeat: repeat-x !important;
						transition: background-position .3s;
						
						&:hover {
							text-decoration: none;
							background-position: 0 10px !important;
						}
						
						&:active {
							@include box-shadow(inset 0 0 10px #333333);
						}
					}

					> a {
						height: 41px;
						line-height: 42px;
					}

					.menu {
						display: block;
						position: absolute;
						left: -1px;
						top: 43px;
						margin: 0;
						padding: 0;
						width: 175%;
						z-index: 2;
						font-size: .9em;
						font-weight: bold;
						visibility: hidden;
						opacity: 0;
						transition: 0 .2s visibility, .2s opacity;

						li {
							margin: 0;
							padding: 0;
							display: block;
							width: 100%;

							a {
								padding: 3px 10px;
								text-align: left;
								@include background-horizontal-gradient(#808080, 0%, #4d4d4d, 100%);
								background-repeat: repeat-y !important;
								background-size: 100% auto !important;
								background-position: 100px 0 !important;

								&:hover {
									background-position: 0 0 !important;
								}
							}

							&:not(.first) a {
								border-top: none;
							}
						}
					}
				
					&.active-trail {

						> a {
							position: relative;

							&:after {
								content: "";
								position: absolute;
								left: 50%;
								bottom: -1px;
								margin-left: -8px;
								width: 0;
								height: 0;
								border-left: 8px solid transparent;
								border-right: 8px solid transparent;
								border-bottom: 10px solid #333333;
							}
						}
					}
					
					&:nth-of-type(1) {

						&, > .menu {
							border-color: #73040B;
						}
						
						a {
							border-color: #CE2029;
							@include background-vertical-gradient(#ce2029, 30%, #9e030b, 100%);
							
							&:active {
								@include box-shadow(inset 0 0 10px #73040B);
							}
						}
						
						> .menu li a {
							@include background-horizontal-gradient(#9e030b, 30%, #ce2029, 100%);
						}
						
						&.active-trail a:after {
							border-bottom-color: #73040B;
						}
					}
					
					&:nth-of-type(2) {

						&, > .menu {
							border-color: #B13E1E;
						}
						
						a {
							border-color: #FF7518;
							@include background-vertical-gradient(#ff7518, 30%, #ec551e, 100%);
							
							&:active {
								@include box-shadow(inset 0 0 10px #B13E1E);
							}
						}

						> .menu li a {
							@include background-horizontal-gradient(#ec551e, 30%, #ff7518, 100%);
						}
						
						&.active-trail a:after {
							border-bottom-color: #B13E1E;
						}
					}
					
					&:nth-of-type(3) {
						
						&, > .menu {
							border-color: #E68E15;
						}
						
						a {
							border-color: #FFCA1D;
							@include background-vertical-gradient(#ffca1d, 30%, #f5a71c, 100%);
							
							&:active {
								@include box-shadow(inset 0 0 10px #E68E15);
							}
						}

						> .menu li a {
							@include background-horizontal-gradient(#f5a71c, 30%, #ffca1d, 100%);
						}
						
						&.active-trail a:after {
							border-bottom-color: #E68E15;
						}
					}
					
					&:nth-of-type(4) {
						
						&, > .menu {
							border-color: #0E440E;
						}
						
						a {
							border-color: #1C881C;
							@include background-vertical-gradient(#1c881c, 30%, #156615, 100%);
							
							&:active {
								@include box-shadow(inset 0 0 10px #0E440E);
							}
						}
						
						> .menu li a {
							@include background-horizontal-gradient(#156615, 30%, #1c881c, 100%);
						}

						&.active-trail a:after {
							border-bottom-color: #0E440E;
						}
					}
					
					&:nth-of-type(5) {
						
						&, > .menu {
							border-color: #003B71;
						}
						
						a {
							border-color: #0064BF;
							@include background-vertical-gradient(#0064bf, 30%, #004f96, 100%);
							
							&:active {
								@include box-shadow(inset 0 0 10px #003B71);
							}
						}
						
						> .menu li a {
							@include background-horizontal-gradient(#004f96, 30%, #0064bf, 100%);
						}

						&.active-trail a:after {
							border-bottom-color: #003B71;
						}
					}
					
					&:nth-of-type(6) {
						
						&, > .menu {
							border-color: #3E144E;
						}
						
						a {
							border-color: #7C279B;
							@include background-vertical-gradient(#7c279b, 30%, #5d1d74, 100%);
							
							&:active {
								@include box-shadow(inset 0 0 10px #3E144E);
							}
						}
						
						> .menu li a {
							@include background-horizontal-gradient(#5d1d74, 30%, #7c279b, 100%);
						}

						&.active-trail a:after {
							border-bottom-color: #3E144E;
						}
					}
				}
			}
		}
	}
}

#main {
	width: 960px;
	margin: 0 auto;
	padding: 2em 0;
}

#block-delta-blocks-tabs {
	
	#tabs {
	
		ul.primary, ul.tabs {
			border: none;
			
			li {
				display: inline-block;
				border: 1px solid #333333;
				height: 33px;
				background: none;
				
				a {
					display: inline-block;
					height: 31px;
					margin: 0;
					padding: 0 10px;
					line-height: 32px;
					border: 1px solid #808080;
					@include background-vertical-gradient(#808080, 0%, #4d4d4d, 100%);
					font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
					font-size: 1em;
					color: white;
					text-align: center;
					
					&:hover {
						@include background-vertical-gradient(#4d4d4d, 0%, #808080, 100%);
						text-decoration: none;
					}
					
					&:active {
						@include box-shadow(inset 0 0 10px #333333);
					}
				}
				
				&.active {
					position: relative;
				
					a:after {
						content: "";
						position: absolute;
						left: 50%;
						bottom: 0;
						margin-left: -5px;
						width: 0;
						height: 0;
						border-left: 5px solid transparent;
						border-right: 5px solid transparent;
						border-bottom: 6px solid #333333;
					}
				}
			}
		}
	}			
}

.front {
	background: url(../images/home-bg.png) no-repeat center -140px;
	
	#main {
		@extend .clearfix;
	
		#page-title {
			display: none;
		}
		
		.region {
			
			.block-block {
				border: 2px solid rgb(222,222,222);
				background: $ltgray;
				background: transparentize($ltgray, .5);
				margin-bottom: 1em;
				
				.content {
					font-family: "Lato",Segoe,Calibiri,sans-serif;
					font-size: 1.05em;
				}
			}
		}
		
		#homepage-feature-wrapper {
			float: left;
			margin-right: 30px;
		}
		
		#homepage-body {
			padding-top: 50px;
			font-family: "Lato",Segoe,Calibiri,sans-serif;
			font-size: 1.1em;
			
			h1 {
				font-weight: normal;
				font-style: italic;
				font-size: 3em;
			}
			
			ul {
				@extend .menu;
				text-align: center;
				line-height: 1em;
				margin-bottom: 1em;
				
				li {
					float: none;
					border-left: 1px solid $gray;
					padding: 0 .5em;
					margin: 0;
					
					a {
						padding-left: 5px;
						color: $blue;
					}
					
					&:first-of-type {
						border-left: none;
					}
				}
			}
		}
	}
}

.news-center {
	
	ul {
		list-style: none;
		padding-left: 0;
	}
}

#connector-button-form {
	margin: 15px 0;
	
	&:before {
		content: "Connect your account with:";
		display: block;
	}
	
	body.page-user-register &:after {
		content: "After logging in, you'll return here to complete your profile.";
		display: block;
		font-size: .85em;
		font-style: italic;
		margin-top: 20px;
		width: 17em;
	}
	
	.connector-button-wrapper {
		display: block;
		margin: 0;
		padding: 0 20px;
		
		&.oauthconnector-google {
			background: url(../images/social-icons/google.png) no-repeat left center;
			padding-left: 52px;
		}
		&.oauthconnector-facebook {
			background: url(../images/social-icons/facebook.png) no-repeat left center;
			padding-left: 52px;
		}
		&.oauthconnector-twitter {
			background: url(../images/social-icons/twitter.png) no-repeat left center;
			padding-left: 52px;
		}
		&.oauthconnector-linkedin {
			background: url(../images/social-icons/linkedin.png) no-repeat left center;
			padding-left: 52px;
		}
		
		input, button {
			height: 48px;
			margin: 0;
			padding: 0;
			background: none;
			border: none;
			color: $blue;
			font-weight: normal;
			font-family: "Lato",Segoe,Calibiri,sans-serif;
			
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.block-connector {
	width: 35%;
	float: right;
	border-left: 2px solid black;
	margin-left: 50px;
	
	#connector-button-form {
		//text-align: center;
		//margin: 0;
		margin-left: 30px;
		
		&:before {
			content: "Or login with:";
			margin: 0 20px 20px;
			font-weight: bold;
		}
		
		.connector-button-wrapper {
			//display: inline-block;
		}
	}
}

footer {
	width: 100%;
	background: $ltgray;
	border-top: 2px solid rgb(222,222,222);
	font-family: "Lato",Segoe,Calibiri,sans-serif;
	
	> .region {
		width: 960px;
		margin: 0 auto;
		padding: 15px 0;
		
		.menu {
			text-align: center;
			line-height: 1em;
			margin-bottom: 1em;
			
			li {
				float: none;
				border-left: 1px solid $gray;
				padding: 0 .5em;
				margin: 0;
				
				a {
					padding-left: 5px;
					color: $blue;
				}
				
				&.first {
					border-left: none;
				}
			}
		}
	}
	
	#sponsor_wrap {
		width: 100%;
		background: $gray;
		@include box-shadow(0 0 10px black(.7));
		color: white;
		font-size: 1.1em;
		
		> .region {
			width: 960px;
			margin: 0 auto;
			padding: 15px 0;
		}
	}
}
